*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#cabecalho{
  display: flex;
  justify-content: space-between;

  h1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
  }

}

#cabecalho{
    background-color: aquamarine;
    height: 190px;
}

.sucesso{
  color: black;
  font-weight: 500;
  border: 1px solid red;
}

.erro{
  color: red;
  font-weight: 500;
  border: 1px solid green;
}