*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 
    .sucesso{
      color:#0b700b;
      font-weight: 500;
      background-color: #8bea8b;
      border: 2px solid #0b700b;
    }

    .erro{
      color:#c61523;
      font-weight: 500;
      background-color: #f38a8a;
      border: 2px solid #f3081c;
    }

    .fa-regular{
      cursor: pointer;
      user-select: none;
      margin-top: 3%;
    }

    .form-group{
      display: flex;
      flex-direction: column;
      width: 50vw;
      height: 70vh;
      margin: 0 auto;
      color: #fff;
    
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
    .form-group div{
      margin: 1% auto;
    }

    .form-group input[type=email],input[type=password], input[type=text],select{
      display: block;
      width: 40vw;
      height: 5vh;
      border-radius: 5px;
      border: none;
      box-shadow: inset 0 0 10px rgba(0,0,0,.8);
      outline-color: #b9bdb9;
      padding-left: 10px;
    }

    .form-group button[type=submit]{
      display: block;
      width: 25vw;
      height: 10vh;
      border-radius: 5px;
      border: 2px solid #fff;
      background-color: #131399;
      box-shadow: inset 0 0 10px rgba(0,0,0,.8);
      outline-color: #b9bdb9;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: all .4s ease;
      
    }
    #close{
      display : block;
      margin: 2% 2% 0 0;
      float: right;
      width: 40px;
      cursor: pointer;
      height: 40px;
      border-radius: 100%;
      border: 2px solid #fff;
      background-color: #131399;
      box-shadow: inset 0 0 10px rgba(0,0,0, .8);
      color: #fff;
      font-weight: bold;
    }
    #close:hover{
      transition: all .5s ease-in;
      border-color: #131399;
      background-color: #fff;
      color: #000;

    }
    .form-group button[type=submit]:hover{
      box-shadow: inset 0 0 10px rgba(255,255,255,.8);
    }

dialog::backdrop{
  background-color: rgba(0,0,0,.8);
}

dialog{
  margin: 3% auto;
  color: #fff;
  background-image: url("../img/back-login-640×360.jpg");
  border: none;
}